<nav>
    <ul>
        <li><a href="/"><strong>Home</strong></a></li>
        <li><a href="/portfolio/resume/">CV</a></li>
        <li><a href="/portfolio/tech/">Technical</a></li>
        <li><a href="/portfolio/design/">Design</a></li>
    </ul>
</nav>